
#map-search {
	position: relative;
}
	#map-search input[type=text] {
		height: 5.5rem;
	}
	#map-search button {
		position: absolute; right: 3rem; top: -4.75rem;
		display: block; width: 4rem; height: 4rem;
		line-height: 4rem; font-size: 2em; color: #000; text-align: center; text-transform: uppercase;
		border: none; -webkit-appearance: none;
		background: none;
	}
	.search-results {
		background: none !important;
	}
	#map-search ul {
		padding: 0;
		border: 1px solid #ccc;
		background: rgba(255,255,255, 0.9) !important;
	}
		#map-search li {
			padding: 1rem 2rem;
			font-size: 1.6em; line-height: 1.2em;
		}
			#map-search li a {
				text-decoration: none;
			}